[Desktop Entry]
Name=jdEolConverter
Terminal=false
Type=Application
Icon=page.codeberg.JakobDev.jdEolConverter
Exec=jdeolconverter %f
Comment=Converts End of Line of all files in a directory
Categories=Development;Utility;Qt;
MimeType=inode/directory;
